<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datastructures.chatty"
    android:allowBackup="false"
    android:fullBackupContent="false"
    android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_img_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.myapplication.screens.authentication.LoginActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name="com.example.myapplication.ui.main.ProfileActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.myapplication.ui.main.SettingActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.myapplication.screens.chat.AddGroupActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name="com.example.myapplication.screens.status.AddTextStoryActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.myapplication.screens.status.AddImageStoryActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.myapplication.ui.main.Home"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="uiMode"/>
        <activity
            android:name="com.example.myapplication.screens.chatroom.ChatRoom"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@style/Theme.Material3.DayNight" />
        <activity
            android:name="com.example.myapplication.screens.chat.AddNewContact"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.myapplication.ui.main.SplashScreen"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.myapplication.screens.security.Password_setting"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.myapplication.screens.security.Pattern"
            android:exported="false"
            android:launchMode="singleTop" />
    </application>

</manifest>