<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.datastructures.chatty"
    android:theme="@android:style/Theme.NoTitleBar">


    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"
        android:maxSdkVersion="31" />
<!--        -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".screens.authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screens.chat.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".screens.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".screens.status.AddTextStory"
            android:exported="false" />
        <activity
            android:name=".screens.status.AddImageActivity"
            android:exported="false" />
        <activity
            android:name=".main.home"
            android:exported="true" />
        <activity
            android:name=".screens.chat.AddNewContact"
            android:exported="false" />
        <activity
            android:name=".main.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.authentication.VerifyPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".screens.authentication.SignUp"
            android:exported="true" />
        <activity
            android:name=".screens.chatroom.ChatRoom_activity"
            android:exported="false"
            android:parentActivityName=".main.home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>